{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block container %}

<br>
<div class="container">
  <div class="row">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row">
        <p>LOG IN</p>
        </div>
        <div class="row">
        <p>{{ attention }}</p>
        </div>
        {% for error in login_form.non_field_errors %}
        <div class="row">
        <p>{{ error }}</p>
        </div>
        {% endfor %}
        <div class="row">
        <br>
        <p><fieldset>
          <label for="id_username">Login</label><br>
          <input type="text" placeholder="Login" id="id_username" name="username" required><br>
          <label for="id_password">Password</label><br>
          <input type="password" placeholder="Password" id="id_password" name="password" required><br>
        </fieldset></p>
          <br>
        </div>
        <br>
        <div class="row">
          <p><input type="submit" value="LOG IN"></p><br>
        </div>
        <br>
    </form>
  </div>
</div>
{% endblock container %}