{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Registration
{% endblock title %}

{% block container %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <p>REGISTRATION</p>
      {% for field in user_form %}
      <div class="row">
        <div class="form-input">
            <p>{{ field.errors }}</p>
            <p>{{ field.label_tag }}</p>
            <p>{{ field }}</p>
        </div>
      </div>
      {% endfor %}
      <br>
      <p><input type="submit" value="REGISTRATION"></p><br>
    </form>
  </div>
</div>
{% endblock container %}